.skin-blue .main-header .navbar {
  background-color: #481567;
}

.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover {
  background-color: #481567;
}

.content-wrapper, .right-side {
  background-color: #FEFEFE;
}

.box {
  border-radius: 5px;
  border: 1px solid #A9A9A9;
}

.selectize-input {
  border-radius: 5px;
  border: 1px solid #A9A9A9;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #A9A9A9;
}

.btn {
  border-radius: 5px;
  border: 1px solid #A9A9A9;
}

body {
  background: #FEFEFE;
  color: #424242;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  text-transform: none;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  margin-bottom: 18px;
}

h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

h6 {
  font-size: 14px;
  margin-bottom: 12px;
}

.box-header h3.box-title {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

p {
  line-height: 1.8;
  margin: 0 0 30px;
}

